/* styling of the body */
body {
    background: #B89676;
    color: #D7BDA6;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    color: #D7BDA6;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #4C2B08;
    border-radius: 80px;
}

/* styling for the paragraphs */
p {
    margin: 0;
}

nav, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D3914;
    font-size: 20px;
    gap: 200px;
    padding: 20px;
}

.nav-search {
    display: none;
}

body.met-zoekbalk .nav-search {
    display: flex;
    gap: 10px;
}

.nav-item {
    color: #D7BDA6;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #4b260a;
    border-radius: 80px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #5c2f0f;
}

.nav-search {
    display: flex;
    gap: 10px;
}

.nav-search input {
    padding: 5px 10px;
    background: #4b260a;
    color: #D7BDA6;
    border-radius: 80px;
    border: none;
    font-size: 20px;
}

.title {
    color: #4C2B08;
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    padding-bottom: 80px;
}

.content-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#general-text {
    background: #4b260a;
    padding: 30px;
    border-radius: 20px;
    max-width: 600px;
    color: #D7BDA6;
    font-size: 1.2rem;
}

.photos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.photos .photo {
    width: 200px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 4px solid #4b260a;
}


